<ion-header [translucent]="true" >
  <ion-toolbar style="--background: rgb(9, 18, 33)"> 
    <ion-title>
      Log Sleep
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="medium"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


   <ion-col class="option-col">
    <ion-row class="option-container option-left" size="5"> 
      <h1>Sleep Time </h1>
      <br>
        <ion-datetime display-format="MMM DD, YY HH:mm" placeholder="select wake time" [(ngModel)]="sleepTime">
        </ion-datetime>
    </ion-row>
    <ion-row class="option-container option-right" size="5"> 
      <h1>Wake Time </h1><br>
        <ion-datetime display-format="MMM DD, YY HH:mm" placeholder="select sleep time" [(ngModel)]="wakeTime">
        </ion-datetime>
    </ion-row>
  </ion-col>
<ng-container>
    <ion-button (click)="logdata()" class= "button" color="light"> LOG DATA</ion-button>
  </ng-container>
</ion-content>

