ion-content {
  --ion-background-color: rgb(9, 18, 33);
}
.option-container {
    background: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
    margin: 20px;
    size: 13px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    ion-text {
      size: 12px;
    }
  }

  h1{
    text-align: center;
  }

  .datetime-md .datetime-placeholder { color: #999; }
