
.option-container {
    background: white;
    color: black;
    padding: 25px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    text-align: center;
    //background-image: linear-gradient( 200deg,  #800e5d 11.1%, #035b8a 81.3% );
  }

  h1{
    text-align: center;
  }

  .datetime-md .datetime-placeholder { color: #999; }

