<ion-header [translucent]="true" >
  <ion-toolbar style="--background: rgb(9, 18, 33)"> 
    <ion-title>
      Log Sleep
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="medium"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

    <div class="instruction-container" size="5"> 
        <span style="size: 7px;"> Enter your sleep and wake time to keep track of your overnight sleep!</span>
    </div>

    <div class="option-container" size="5"> 
        <h1>Sleep Time</h1>
        <ion-datetime display-format="MMM DD, YY HH:mm" placeholder="Enter sleep time" [(ngModel)]="sleepTime">
        </ion-datetime>
    </div>

    <div class="option-container" size="5"> 
        <h1>Wake Time</h1>
        <ion-datetime display-format="MMM DD, YY HH:mm" placeholder="Enter wake time" [(ngModel)]="wakeTime">
        </ion-datetime>
    </div>

  <div style="text-align: center">
      <ion-button (click)="logdata()" fill="outline" color="secondary">Record Overnight Sleep</ion-button>
    </div>
</ion-content>

