<ion-header [translucent]="true">
  <ion-toolbar style="--background: rgb(9, 18, 33)">
    <ion-title>
      Sleepiness History
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<h3 style="margin-left: 20px"> Recent Logs</h3>
  <div class="slides ion-margin-bottom">
    <ion-slides [options]="options">
      <ion-slide *ngFor="let data of sleepinessHistory">
        <!-- Sleep -->
        <ion-card class="sleepiness-card"> 
            <ion-card-content class="ion-text-left">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-text> {{ data[0] }} </ion-text>
            <br>
            <ion-icon name="time-outline"></ion-icon>
            <ion-text> {{ data[1] }} </ion-text>
            <br>
            <ion-text> {{ data[2] }}</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <h3 style="margin-left: 20px"> More Insight</h3>
  <div class="insight" size="5"> 
  		<span> Total logs: {{ sleepinessHistory.length }} </span>
  		<br>
        <span> Average Level: {{ averageLevel }} </span>
        <br>
        <span> Most Frequent Level: {{ mostFrequentLevel }} </span>

   </div>

   <ion-card class="welcome-card">
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
