<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="options-container">
    <h2 style="color: black;"> Log an entry </h2>
    <ion-row>
      <ion-col style="color: black;" (click)="toSleepPage()" class="option-container ion-col-left" size="6"> 
        <img class="options-img" src="../assets/sleepy.png">
        <span style="font-size:14px; margin-left: 7.5px;"> Overnight Sleep </span>
      </ion-col>
      <ion-col style="color: black;" (click)="toSleepinessPage()" class="option-container ion-col-right" size="6"> 
        <img class="options-img" src="../assets/zzz.png">
       <span style="font-size:14px; margin-left: 7.5px;"> Sleepiness </span>
      </ion-col>
    </ion-row> 
  </div>

  <!-- Summary of 10 most recent logged records -->
  <h2> Recent History </h2>
  <div class="slides ion-margin-bottom">
    <ion-slides [options]="options">
      <ion-slide *ngFor="let data of mostRecentHistory">
        <ion-card *ngIf="data[0] == 'Sleep Log' "> 
          <ion-card-content class="ion-text-left">
            <ion-text> <b> {{ data[0] }} </b> </ion-text>
            <br>
            <ion-icon name="calendar-outline"></ion-icon>
              <ion-text> {{ data[1].dateString() }} </ion-text>
            <br>
            <ion-icon name="time-outline"></ion-icon>
            <ion-text> {{data[1].startTime()}} to {{data[1].endTime()}} </ion-text>
            <br>
            <ion-icon name="hourglass-outline"></ion-icon>
            <ion-text> {{data[1].summaryString()}} </ion-text>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="data[0] == 'Sleepiness Log' "> 
          <ion-card-content class="ion-text-left">
            <ion-text> <b> {{ data[0] }} </b> </ion-text>
            <br>
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-text> {{ data[1].dateString() }} </ion-text>
            <br>
            <ion-icon name="time-outline"></ion-icon>
            <ion-text> {{ data[1].recordedTime() }} </ion-text>
            <br>
            <ion-icon name="moon-outline"></ion-icon>
            <ion-text> Level: {{ data[1].sleepinessLevel() }} </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-button (click)="toHistoryPage()" class= "button" color="light"> View all</ion-button>
</ion-content>

