<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>

  <ion-text style="text-align: center;">
    <h4>Current time is:</h4>
  </ion-text>

  <ion-text style="text-align: center;">
    <h1>{{ currentTime }}</h1>
  </ion-text>

  <ion-card (click)="toSleepPage()">
    <ion-card-header>
      <ion-card-title>Log Sleep</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="toSleepinessPage()">
    <ion-card-header>
      <ion-card-title>Log Sleepiness</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="toHistoryPage()">
    <ion-card-header>
      <ion-card-title>View History</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>

