<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      View History
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sleep History</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card *ngFor="let dataof sleepArray">
        <ion-item>
          <ion-label>{{data.loggedAt}}</ion-label>
        </ion-item>
        <ion-card-content>{{data.summaryString()}}</ion-card-content>
      </ion-card> 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sleepiness History</ion-card-title>
    </ion-card-header>
  
      <ion-card *ngFor="let dataof sleepinessArray">
        <ion-item>
          <ion-label>{{data.loggedAt}}</ion-label>
        </ion-item>
        <ion-card-content>{{data.summaryString()}}</ion-card-content>
      </ion-card>
  </ion-card>

  
</ion-content>
