<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      View History
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2> Overnight Sleep History </h2>
  <h2> Average Sleep Hours: {{averageHours}} </h2>
  <div class="slides ion-margin-bottom">
    <ion-slides [options]="options">
      <ion-slide *ngFor="let data of sleepArray">
        <!-- Sleep -->
        <ion-card> 
            <ion-card-content class="ion-text-left">
            <ion-icon name="calendar-outline"></ion-icon>
              <ion-text> {{data.dateString()}}</ion-text>
            <br>
            <ion-icon name="time-outline"></ion-icon>
            <ion-text> {{data.startTime()}} to {{data.endTime()}}</ion-text>
            <br>
              <ion-icon name="hourglass-outline"></ion-icon>
            <ion-text> {{data.summaryString()}} </ion-text>
          </ion-card-content>
        </ion-card>
        <!-- Sleepiness -->
      </ion-slide>
    </ion-slides>
  </div>


  <h2> Sleepiness History </h2>
  <h2> Average Sleepiness Level: {{averageLevel}} </h2>
  <div class="slides ion-margin-bottom">
    <ion-slides [options]="options">
      <ion-slide *ngFor="let data of sleepinessHistory">
        <!-- Sleep -->
        <ion-card> 
            <ion-card-content class="ion-text-left">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-text> {{ data[0] }} </ion-text>
            <br>
            <ion-icon name="time-outline"></ion-icon>
            <ion-text> {{ data[1] }} </ion-text>
            <br>
            <ion-text> {{ data[2] }}</ion-text>
          </ion-card-content>
        </ion-card>
        <!-- Sleepiness -->
      </ion-slide>
    </ion-slides>
  </div>

  <!-- things to add : most frequent sleepiness level? -->
  <!-- average time ? -->
  
</ion-content>
